
<div>
    <form id="login-form">
        <h5>Formulaire</h5>
        <div>
            <label for="">Email</label>
            <input type="email" name="email" id="signin-email-input">
        </div>
        <div>
            <label for="">Mot de passe</label>
            <input type="password" name="password" id="signin-password-input">
        </div>

        <span>
            Vous n'avez pas de compte ? <a href="">S'inscrire</a>
        </span>
        <button type="submit">Se connecter</button>
    </form>

    <form id="signup-form">
        <h5>Formulaire</h5>
        <div>
            <label for=""></label>
            <input type="text">
        </div>
    </form>
</div>
