@import "tailwindcss";

/* sonar-disable-next-line */
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}